.content {
    display: flex;
}
.img-box {
    width: 200px;
    height: 200px;
    border: 2px groove black;
    margin: 10px;
}
.img-box:hover {
    box-shadow: 10px 0px 5px burlywood;
}

.img {
    width: 200px;
    height: 200px;
}

img {
    height: 100%;
    width: 100%;
    object-fit: fill;
}

.img-info {
    text-align: center; 
}