#div1 {
    border-style: solid;
    border-radius: 30px;
    width: 340px;
    height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#div2 {
    border-style: solid;
    border-radius: 10px;
    width: 40px;
    height: 60px;
}

#div3 {
    border-style: solid;
    border-radius: 180px;
    height: 60px;
    width: 60px;
}

#div4 {
    border-style: solid;
    border-radius: 180px;
    height: 10px;
    width: 300px;
}

#div5 {
    width: 300px;
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
}


