* {
    background-color: bisque;
    /* display: none; */
}
.title {
	color: rgb(0, 38, 255);
	background-color: rgb(188, 172, 203);
	text-align: center;
}
.loginForm {
    border: 5px sienna solid;
	display: flex;
	flex-direction: column;
	background-color: aliceblue;
	text-align: center;
	align-items: center;
	justify-content: center;
}

.btn-submit {
	width: 100px;
	padding: 8px;
	margin-top: 10px;
	border-radius: 10px;
}

label {
	margin-top: 10px;
	font-family: Arial, Helvetica, sans-serif;
}

input {
	margin-top: 2px;
}
