.col-6 img {
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	object-fit: cover;
	padding: 20px;
	border-radius: 20px;
}
.col-6 {
	width: 100%;
	max-width: 750px;
	height: auto;
	aspect-ratio: 750 / 350;
	position: relative;
	border-radius: 20px;
	overflow: hidden;
}

.content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
    width: 90%;
    max-width: 400px;
    height: auto;
	border-radius: 10px;
	background-color: rgba(149, 148, 148, 0.7);
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	
	opacity: 0;
	transition: opacity 0.3s ease;
    pointer-events: none;
}

.col-6:hover .content {
	opacity: 1;
    pointer-events: auto;
}
.container-fluid {
	display: grid;
    grid-template-columns: repeat(auto-fit, minmax(750px, 1fr));
    gap: 10px;
	margin-top: 10px;
}
